body {
font-family: 'Segoe UI', sans-serif;
background-color: black;
color: #fff;
margin: 0;
padding: 0;
}

.container {
max-width: 800px;
margin: 30px auto;
/* background: white; */
padding: 20px 30px;
border-radius: 8px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1, h2, h3 {
/* color: #333; */
margin-top: 30px;
border-bottom: 1px solid #333;
padding-bottom: 5px;
}

.event-card {
border-left: 4px solid #3c8dbc;
background: #333;
padding: 15px 20px;
margin-bottom: 20px;
border-radius: 5px;
}

.event-card h3 {
margin-top: 0;
font-size: 1.2em;
color: #3c8dbc;
}

.event-card p {
margin: 5px 0;
}

.profile-info p {
margin: 6px 0;
}

.stat-box {
  background-color: #333;
  border-left: 5px solid #ffa500;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 6px;
}
.stat-box p {
  font-size: 1.1em;
  margin: 8px 0;
}

