body, html {
    height: 100%;
    margin: 0;
}

.bg-image {
    /* background-image: url("http://localhost/linebot2.0/images/cgu_login.png"); */
    /* 8000 */
    /* background-image: url("https://2a9e-60-250-225-149.ngrok-free.app/static/images/cgu_login.png"); */
    background-image: url("/static/images/cgu_login.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
}