<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>評分系統</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/grade.css') }}">
</head>
<body>
  <div class="container">
    <header><h1>我的歷史活動紀錄</h1></header>
    <div id="eventsList" class="events-list"></div>
  </div>

  <!-- 評分 -->
  <div id="rateModal" class="modal" style="display:none;">
    <div class="modal-content">
      <h2>給予評分與評論</h2>
      <form id="ratingForm">
        <input type="hidden" name="orderid" id="orderid">
        <div id="ratingTargets"></div>

        <button type="submit">提交</button>
        <button type="button" onclick="closeModal()">取消</button>
      </form>
    </div>
  </div>

   <script src="{{ url_for('static', filename='js/grade.js') }}"></script>

</body>
</html>